#categories{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#categories h2{
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer;
	-webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
 	-o-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
}
#categories h2:hover{
	color: #77a424;
}

#onsale, #onsale2, #onsale3{
	width: 80%;
	margin: 0 auto;
	display: none;
}

#onsale{
	display: block;
}

#onsale figure, #onsale2 figure, #onsale3 figure{
	width: 70%;
	padding: 50px;
	margin: 0 auto;
}

@media only screen and (max-width:812px){

	#categories{
		flex-direction: column;
		margin-top: 55px;
	}
	#categories h2{
		margin: 20px 0 80px 0;
	}
	.col{
		margin-bottom: 50px;
	}
}